*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body1{
    background-image: url(/img/Snapchat-2012722547.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    border: 1px solid #fff ;
}
.body2{
    background-image: url(/img/Snapchat-247053187.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100;
    height: 100vh;
    width: 100%;
    border: 1px solid #fff ;
}
.body3{
    background-image: url(/img/Snapchat-268136544.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    border: 1px solid #fff ;
}
.body4{
    background-image: url(/img/Snapchat-353322990.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    border: 1px solid #fff ;
}
.card{
    margin: 0 auto;
    margin-top: 3rem;
    width: 40%;
    height: 20vh;
    box-shadow: 0 0 20px whitesmoke;
    text-align: center;
    padding-top: 4rem;
}
input{
    width: 80%;
}